footer {
  background-color: #353535;
  color: #fff;
  padding: 22px 0px 22px 25px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .logo {
    margin-bottom: 16px;

    img {
      width: 100px;
      height: 27px;
      display: block;
      filter: brightness(0) invert(1);
    }
  }

  .footer-nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 7px;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 15px;
          display: flex;
          align-items: center;
          gap: 10px;

          i {
            width: 11px;
            height: 13px;
            font-size: 12px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (min-width: 765px) {


  footer {
   
    flex-direction: row;
    justify-content: flex-end; 
    height: 114px;

    .footer-nav {
      order: 1;
      margin-top: 40px;
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 16px;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin: 0;
    }

    a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 500;

      i {
        font-size: 14px;
      }
    }

    .logo {
      order: 2;
      margin: 30px 50px 0px 70px;

      img {
        width: 120px;
      }
    }

    .footer-deskstop-margin {
      margin-left: 30px;
    }

    .fa-handshake-angle {
      margin-right: 5px;
      margin-left: -5px;
    }
  }
}